/*==========================================================================
* Color & Font CSS
==========================================================================*/
:root {
    --theme-font: 'Space Grotesk', sans-serif;
    --primary-color-1: #0E59F2;
    --text-white: #FFFFFF;
    --bg-white: #FFFFFF;
    --text-heading-color: #051634;
    --body-color: #737373;
    --color-1: #777777;
    --color-2: #F4F7FB;
    --color-3: #051634;
    --color-4: #37455D;
    --color-5: #CDD0D6;
    --color-6: #bec0c3;
    --border-color-1: #E9E9EA;
    --border-color-2: 255, 255, 255;
    --border-color-3: 0, 0, 0;
    --border-color-4: rgba(19, 19, 19, 0.1);
}